/* Estilos para el contenedor de la cuadrícula */
#grid-container {
    display: grid;
    grid-template-columns: repeat(20, 30px); /* 20 columnas de 30px cada una */
    /*grid-gap: 2px; /* Espacio entre las celdas */
    margin-top: 20px; /* Margen superior para separar del botón */
    
    
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 20px; /* Agrega espacio alrededor del formulario */
}
h1{
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para las celdas de la cuadrícula */
.grid-cell {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 1px solid gray;
    text-align: center; /* Alineación del texto al centro */
    line-height: 30px; /* Altura de línea igual al alto de la celda para centrar verticalmente */
}

/* Estilos para resaltar celdas cuando se pasa el cursor por encima */
.grid-cell:hover {
    background-color: rgb(44, 44, 44);
    color: white;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}
.mina {
    background-color: red; /* Cambia el color de fondo a rojo para mostrar la mina */
    color: white; /* Cambia el color del texto a blanco para hacerlo más visible */
    /* Puedes agregar otros estilos según tus preferencias */
}
.celda-sin-mina {
    background-color: rgb(35, 227, 89); 
    color: white; /* Cambia el color del texto a blanco para hacerlo más visible */
    /* Puedes agregar otros estilos según tus preferencias */
}
